<!DOCTYPE html>
<html>

@*
    Community Page.
    REF: https://www.youtube.com/watch?v=vQAvjof1oe4&t=589s

    TODO:
    -- Add some Search bar under the first flexbox-item <div>, and/or tags to include/exclude communities.
    -- Pages of community catalogue -- For when too many communities, can't fit on one page.
    -- Scalability: Messing with flex. at the moment, I've forced com_container to be static, as the boxes stack otherwise.
    -- Community PAGES :: Some customizable default page that represent the community, when clicked.
    -- Database Communication :: Some way to grab all communities from database and represent in the second flexbox-item.
*@

<head>
    <link href="~/Styles/Community.css" rel="stylesheet" />
    <script src="~/Scripts/Search.js"></script>
</head>

<body>
    <div class="com_container">
        <div class="flexbox-title">
            <h1>Communities</h1>
        </div>
        <div class="content-sidebar">
            <div class="flexbox-item flexbox-sidebar">
                @*Sidebar*@
                <input type="text" id="sideInput" onkeyup="comFunction()" placeholder="Search for communities..">
            </div>
            <div class="flexbox-item">
                @using ComicsAPI.Models
                <ul class="f2col" id="fullComs">
                    @if (Session["allCommunity"] != null)
                    {
                        foreach (Community COM in (List<Community>)Session["allCommunity"])
                        {
                            <li>
                                <a href="https://localhost:44352/Home/Community">@COM.name</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>@Html.ActionLink("Try Again", "viewCommunities", "Home")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>
</html>