<head></head>
<br />
@*
 There were a bunch of errors on Index, Resolve via update to Web.config file:
 REF: https://stackoverflow.com/questions/2828393/cs0012-the-type-system-web-routing-routevaluedictionary-is-defined-in-an-asse
 (Included Assemblies)
*@
<body>
        <div>
            <table style="margin:auto;margin-top:auto;margin-bottom:auto">
                <tr>
                    <td>
                        <Label> Username:  </Label>
                    </td>
                    <td>
                        <input type="text" id="userName" name="userName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <Label> Password:  </Label>
                    </td>
                    <td>
                        <input type="password" id="pw" name="pw">
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <Button> Login </Button>
                        <a href="@Url.Action("Signup", "Home")">
                            <Button> Sign Up </Button>
                        </a>
                    </td>
                </tr>
            </table>
        </div>
</body>