<head></head>
<br />
<body>
        <div>
            <table style="margin:auto;margin-top:auto;margin-bottom:auto">
                <tr>
                    <td>
                        <Label> Username:  </Label>
                    </td>
                    <td>
                        <input type="text" id="userName" name="userName">
                    </td>
                </tr>
                <tr>
                    <td>
                        <Label> Password:  </Label>
                    </td>
                    <td>
                        <input type="password" id="pw" name="pw">
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <Button> Login </Button>
                    </td>
                </tr>
            </table>
        </div>
</body>