<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/Main.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>@Html.ActionLink("RUN FUN", "viewComics", "Home")</div>
    <ul class="f2col">
        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/Placeholder1.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Fantasy Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/Placeholder2.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Sports Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/PlaceHolder3.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Action Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/PlaceHolder4.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Tragic Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/Placeholder5.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Gruff Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/Placeholder6.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Geometric Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/Placeholder7.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Horror Comic</a>
        </li>

        <li>
            <a href="https://localhost:44352/Home/Main">
                <img src="~/Images/Placeholder8.png" />
            </a>
            <a href="https://localhost:44352/Home/Main">Adventure Comic</a>
        </li>
    </ul>
</body>
</html>
