<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/Reader.css" rel="stylesheet" />
</head>
<body>
    <div id="middle_container" class="box">
        <ul class="comicNav">
            <li>
                <a> << </a>
            </li>
            <li>
                <a> < </a>
            </li>
            <li>
                <a> > </a>
            </li>
            <li>
                <a> >> </a>
            </li>
            <li>
                <select>
                    <option>
                        Chapter 1
                    </option>
                    <option>
                        Chapter 2
                    </option>
                    <option>
                        Chapter 3
                    </option>
                </select>
            </li>
        </ul>
        <div id="comic">
            <img src="~/Images/spacecraft_debris_odds_ratio.png" title="Placeholder image from https://xkcd.com/2599/" />
        </div>
    </div>

    <!--Reference: https://www.c-sharpcorner.com/article/upload-files-in-asp-net-mvc-5/-->
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div>
            @Html.TextBox("file", "", new { type = "file" }) <br />
            <input type="submit" value="Upload" />
            @ViewBag.Message
        </div>
    }
</body>
</html>
