
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/Search.js"></script>
    <link href="~/Styles/Search.css" rel="stylesheet" />
    <title></title>
</head> 
<body>
    <ul id="tags">
        <li><label><input type="checkbox">Fantasy</label></li>
        <li><label><input type="checkbox">Action</label></li>
        <li><label><input type="checkbox">Drama</label></li>
        <li><label><input type="checkbox">Thriller</label></li>
        <li><label><input type="checkbox">Super-hero</label></li>
        <li><label><input type="checkbox">Humor</label></li>
        <li><label><input type="checkbox">Non-fiction</label></li>
        <li><label><input type="checkbox">Slice-of-life</label></li>
        <li><label><input type="checkbox">Horror</label></li>
        <li><label><input type="checkbox">Romance</label></li>
        <li><label><input type="checkbox">Sports</label></li>
        <li><label><input type="checkbox">Mystery</label></li>
        <li><label><input type="checkbox">Lovecraftian</label></li>
    </ul>
    
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

    <ul id="myUL">
        <li><a href="#">A Fantasy Comic</a></li>
        <li><a href="#">A Thriller</a></li>

        <li><a href="#">Sports Comic</a></li>
        <li><a href="#">Comedic, Comical, Comic</a></li>

        <li><a href="#">Romance Comic</a></li>
        <li><a href="#">I Can't Believe It's Comic</a></li>
        <li><a href="#">Non-Fiction Comic?</a></li>
    </ul>
</body>
</html>
