<head></head>
<br />
<body>
        <div>
            <table style="margin:auto;margin-top:auto;margin-bottom:auto">
                <form id="form1" method="post" action="localhost:44366/user"
                      enctype="application/x-www-form-urlencoded">
                <tr>
                    <td>
                        <Label> Username:  </Label>
                    </td>
                    <td>
                        <input type="text" id="userID" name="userID">
                    </td>
                </tr>
                <td>
                    <Label> Email: </Label>
                </td>
                <td>
                    <input type="text" id="email" name="email">
                </td>
                <tr>
                    <td>
                        <Label> Password:  </Label>
                    </td>
                    <td>
                        <input type="password" id="password" name="password">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button> Sign Up </button>
                    </td>
                </tr>
                </form>
            </table>
        </div>
</body>