@model ComicsAPI.Models.User;
@{
    table-layout = null;
}

/* REF: 
    https://www.youtube.com/watch?v=Ba-Ly1EQg2A
*/
.index_container {
    display: flex;
    justify-content: center;
    /*height: 700px;*/
    align-items: center;
}

.loginST {
    background-color: beige;
    padding: 15px;
    width: 450px;
}

.flex-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1;
}

.flex-container a:hover {
    text-decoration: underline;
}

input[type="text"], [type="password"] {
    padding: 8px;
    font-size: 15px;
}

div > h1 {
    display: flex;
    flex-direction: column;
}

label {
    flex-basis: 80px;
    margin-top: 10px;
    font-size: 15px;
}

input[type="buttton"] {
    width: 40%;
    font-size: 20px;
    padding: 5px;
    border: none;
    margin: 20px 0;
}

@media all and (max-width: 480px) {
    .flex-input {
        flex-direction: column;
    }

    label {
        flex-basis: 0;
    }
}
